root = true

[*]
end_of_line  = lf
indent_style = tab
indent_size  = tab
tab_width    = 4
insert_final_newline = true

[*.cs]

#### ========== ####
#### Formatting ####
#### ========== ####

# Indentation preferences
csharp_indent_case_contents_when_block = false
# Space preferences
csharp_space_after_cast = true

#### ===== ####
#### Style ####
#### ===== ####

csharp_style_var_elsewhere = true
csharp_style_var_for_built_in_types = true
csharp_style_var_when_type_is_apparent = true

# IDE0007: Use implicit type
dotnet_diagnostic.IDE0007.severity = suggestion

# IDE0036: Order modifiers
dotnet_diagnostic.IDE0036.severity = suggestion

# IDE0040: Remove accessibility modifiers
dotnet_diagnostic.IDE0040.severity = suggestion
dotnet_style_require_accessibility_modifiers = omit_if_default

#### ============ ####
#### Suppressions ####
#### ============ ####

# RS0030: Do not use banned APIs
dotnet_diagnostic.RS0030.severity = error

# CA1707: Identifiers should not contain underscores
dotnet_diagnostic.CA1707.severity = none

# CA1715: Identifiers should have correct prefix
dotnet_code_quality.CA1715.exclude_single_letter_type_parameters = true

# CA2255: The 'ModuleInitializer' attribute should not be used in libraries
dotnet_diagnostic.CA2255.severity = none
